.head2{
   @apply font-bold text-slate-200 sticky top-12 backdrop-blur-md bg-[#06122480] py-2 z-20 -mx-4 px-6 w-screen 
   sm:-mx-20 sm:px-20 md:w-auto lg:static lg:backdrop-blur-0 lg:bg-transparent lg:hidden;
}
.card{
   @apply flex flex-col-reverse gap-6 border-spacing-3 p-3 shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:rounded lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)]
}
/* .card{
   @apply flex flex-col-reverse gap-6 border-spacing-3 p-3 rounded bg-slate-800/50 shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)]
} */
.active .effect_text{
   @apply text-slate-200
}
.active .effect_line{
   @apply bg-slate-200 w-16
}
.effectWriting{
   display: block;
   /* border-right: .25rem solid #26bfad; */
   white-space: nowrap;
   /* width: 5ch; */
   animation: blink .5s infinite step-end alternate, typing 1.8s steps(5);
   overflow: hidden;
}
@keyframes blink {
   50%{
      border-color: transparent;
      /* border-color: #26bfad; */
   }
}
@keyframes typing {
   /* from {width: 0;}  */
   0%{
      width: 0;
   }
   40%{
      width: 0;
   }
   100%{
      width: 5ch;
   }
   /* 100%{
      width: 0;
   } */
}

/* EFECT GOOGLE PLACEHOLDERSHOWN */
.input{
   @apply rounded-sm w-full py-1 px-2 py-1 outline-none border-slate-300 bg-slate-100 border-2 outline-offset-2 focus:border-teal-400 transition-all ease-linear duration-150

}
.label{
   position: absolute;
   top: 0.25rem;
   left: 0.7rem;
   transition: transform .2s, color .2s;
   @apply text-slate-400
}
.input:not(:placeholder-shown){
   color: rgb(71, 85, 105);
}
.input:not(:placeholder-shown) + .label{
   transform: translateY(-13px) scale(0.8);
   transform-origin: left top;
   color: teal;
   font-weight: 700;
   @apply bg-slate-100 px-1
}
.span{
   @apply font-thin text-red-700 text-xs absolute bottom-0 lg:bottom-[6px] left-0
}
